<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>500 Server Error</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>
<nav th:replace="fragments/fragment :: navbar (${false}, ${false}, ${false})"></nav>
<div class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center" style="text-align:center">
        <h2 th:text="'Terdapat kesalahan aktivitas'"></h2>
        <br>
        <a class="btn btn-primary" href="/">Home</a>
      </div>
    </div>
  </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>