<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <th:block th:replace="fragments/fragment :: css"></th:block>
    <th:block th:replace="fragments/fragment :: js"></th:block>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Add Barang Berhasil</title>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar (${false}, ${false}, ${false})"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="text-center">
                <h2 th:text="'Barang ' + ${nama} + ' berhasil ditambahkan.'"></h2>
            </div>
            <div class="text-center m-3">
                <a type="button" class="btn btn-md btn-primary" href="/barang">Kembali</a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>

</body>

</html>